.background-image {
  height: auto;
}

.header-text {
  font-family: "MetricHPEXS", "Arial", "sans-serif";
  text-transform: inherit;
  line-height: 1em;
}

.card-group {
  background-color: #F6F6F6;
}

.card-height {
  height: 96px;
}

.orange-color {
  background-color: #FF8300;
}

.arrow-animation svg {
  transition-property: transform;
  transition-duration: 0.2s;
  transition-timing-function: ease-in-out;
  transition-delay: 0s;
}

.arrow-animation:hover svg {
  transform: translateX(5px);
}

.image-indicator {
  bottom: -110px;
}

.footer-menu a {
  margin: 0 5px;
}

.footer-menu-group a:hover {
  text-decoration: underline;
}

.footer-menu a:hover{
  text-decoration: underline;
}

.search-input {
  animation: moved 1s; 
}

@keyframes moved {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

.image-slide {
  animation: image-slide 2s;
}

@keyframes image-slide {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

.part2-image {
  height: 427px;
}