.background-image {
  height: auto;
}

.header-text {
  font-family: "MetricHPEXS", "Arial", "sans-serif";
  text-transform: inherit;
  line-height: 1em;
}

.card-group {
  background-color: #F6F6F6;
}

.card-height {
  height: 96px;
}

@media (max-width: 767px) {
  .card-height {
    height: auto;
  }
}

.orange-color {
  background-color: #FF8300;
}

.arrow-animation svg {
  transition-property: transform;
  transition-duration: 0.2s;
  transition-timing-function: ease-in-out;
  transition-delay: 0s;
}

.arrow-animation:hover svg {
  transform: translateX(5px);
}

.image-indicator {
  bottom: -110px;
}

.footer-menu a {
  margin: 0 5px;
}

.footer-menu-group a:hover {
  text-decoration: underline;
}

.footer-menu a:hover{
  text-decoration: underline;
}

.search-input {
  animation: moved 1s;
}

.search-input:focus {
  --tw-ring-color: transparent;
}

@keyframes moved {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

.image-slide {
  animation: image-slide 2s;
}

@keyframes image-slide {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

.part2-image {
  height: 427px;
}

@media (max-width: 767px) {
  .part2-image {
    height: auto;
  }
}

.text-color-transparent {
  /* color: transparent; */
  /* background-color: blue; */
}

.timing strong {
  color: #057a55;
}

.timing span {
  font-size: 25px;
  padding: 15px;
}

.featured-content {
  width: 90vw;
}

.additional-link {
  transition: transform .2s ease;
  transform: translateY(100%)
}

.additional-overlay:hover .additional-link {
  transform: translateY(0);
}

.podcast-container {
  perspective: 1000px;
  width: 25%;
}

@media (max-width: 767px) {
  .podcast-container {
    width: auto;
  }
}

.podcast-animation {
  transform: rotateY(-180deg);
  transform-style: preserve-3d;
  transition: .6s;
  transition-delay: .08s;
  backface-visibility: visible;
}

.podcast-link {
  backface-visibility: hidden;
  transform-style: preserve-3d;
  transform: rotateY(0);
}

.podcast-front {
  transform: rotateY(180deg);
  backface-visibility: hidden;
  z-index: 2;
}

.podcast-container:hover .podcast-animation {
  transform: rotateY(0deg);
}

.animated-detail {
  animation-duration: .6s;
  animation-fill-mode: forwards;
  animation-name: listFadeIn;
  animation-timing-function: ease-in;
  opacity: 0;
}

@keyframes listFadeIn {
  0% { 
    opacity: 0;
    transform:translateY(20px)
  }
  100% { 
    opacity: 1;
    transform:translateY(0)
  }
}

.animated-detail .text-content {
  z-index: 1;
  transition: transform .5s ease;
  transform: translateY(0px);
}

.animated-detail:hover .text-content {
  transition: transform .5s ease;
  transform: translateY(-40px);
}

.animated-detail .nav-block {
  z-index: -1;
}

.animated-detail .video-content {
  z-index: 1;
  transition: height .5s ease;
  height: 40%;
}

.animated-detail:hover .video-content {
  transition: height .5s ease;
  height: 50%;
}

.text-parell {
  background-attachment: fixed;
  background-position: top;
  background-clip: text;
  -webkit-background-clip: text;
  background-size: 100% auto;
  color: transparent;
}

.footer {
  background-attachment: fixed;
  background-position: center;
}

@media (min-width: 768px) {
  .contact-header .contact-body {
    background: linear-gradient(180deg,#262626 0,#4f4f4f);
    transition: max-height .5s ease-out;
    max-height: 0px;
  }
}

@media (min-width: 768px) {
  .contact-header:hover .contact-body {
    transition: max-height .5s ease-out;
    max-height: 274px;
  }
}

.markdown h1 {
  font-size: 30px;
  font-weight: 500;
  padding: 15px 0;
}

.markdown p {
  padding: 5px 0;
}

.markdown a {
  text-decoration: underline;
}

.markdown li {
  position: relative;
  padding: 5px 0px 5px 13px;
}

.markdown li::before {
  background-color: #C6C9CA;
  content: "";
  display: block;
  height: 5px;
  left: 0;
  position: absolute;
  top: 15px;
  width: 5px;
}

.sticky-top {
  z-index: 1;
}

.blog-card a {
  transition: none .125s linear;
  transition-property: box-shadow, color, margin;
}

.blog-card .card-tester {
  opacity: 0;
  transition: opacity .125s linear;
}

.blog-card:hover .card-tester {
  opacity: 1;
  transition: opacity .125s linear;
  z-index: 2;
}

.blog-card .content-type {
  opacity: 0;
  transition: opacity .125s linear;
}

.blog-card:hover .content-type {
  opacity: 1;
  transition: opacity .125s linear;
  z-index: 3;
}

.blog-card .indicator {
  opacity: 0;
  transition: opacity .125s linear;
}

.blog-card:hover .indicator {
  opacity: 1;
  transition: opacity .125s linear;
}

.newsletter input::placeholder {
  color: #aaa;
}

.newsletter input:focus, select:focus {
  --tw-ring-color: transparent;
}

.newsletter option {
  color: black;
}